[agent]
  interval = "1s"
  flush_interval = "1s"
  debug = true

[[inputs.mqtt_consumer]]
  servers = ["tcp://host.docker.internal:1883"]
  topics = ["owntracks/+/+"]
  data_format = "json"
  tag_keys = ["id"]
  name_override = "gps_position"

[[outputs.influxdb_v2]]
  urls = ["http://influxdb:8086"]
  token = "0Td6pp4tuzWOpxcHffQp4axoaKAHp5ursgjV-N1UtnbdF2ApWFk2y9r-wOYa1IH8YGmTyAkF-YUzg8u-yHKlsA=="
  organization = "iot"
  bucket = "positions"
