[agent]
  interval = "1s"
  flush_interval = "1s"
  debug = true

[[inputs.mqtt_consumer]]
  servers = ["tcp://host.docker.internal:1883"]
  topics = ["owntracks/+/+"]
  data_format = "json"
  tag_keys = ["id"]
  name_override = "gps_position"

[[outputs.influxdb_v2]]
  urls = ["http://influxdb:8086"]
  token = "C2Ie2EMWrHf-45D8IfgN0rix4JUfaQhdCcGUuXtk6QKZ6pH_EC2Bg61MHHy9AMUE-JZA8k6I3rP75w7yUUH6Xw=="
  organization = "iot"
  bucket = "positions"
